#btn,
#btn2 {
    width: 125px;
}
body {
    background-image: linear-gradient(to right, #38A2D7, #561139);
    

}
#btn {
    background-color: #11ff00;
}
#btn2 {
    background-color: #00aaff;
    padding-inline: 25px;
}
img {
    padding-bottom: 50px;
    padding-right: 100px;
    margin-right: 50px;
}
h1 {
    color: #000;
}
#result {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: xx-large;
}
